@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@import url('https://fonts.googleapis.com/css?family=Lato:300'); 


/* -------------- CUSTOM PRESETS FOR BODY AND NATIVE ELEMENTS------------- */  
body {
	margin: 0px;
    -ms-overflow-style: scrollbar;
    -webkit-app-region:drag;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
button,
textarea {
	-webkit-app-region: no-drag;
}

h3{
	color: white; 
}

button {
	outline: none; // this one
  }

/* -------------- LIST OF VARIABLES ------------- */ 
:root{
	--theme-color: rgba(123, 36, 28, 1); 
	--black-menu-width: 70px; 
	--red-menu-width: 200px; 
	--menu-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.50); 
}

/* ------------------ MENU BARS ------------------- */ 
#blackmenu{
	background-color: black; 
	position: absolute;
	height: 100%;
	width: var(--black-menu-width);
	padding-top: 50px;
	box-shadow: var(--menu-box-shadow);  
}

#blackmenu button{
	display: inline-block; 
	width: var(--black-menu-width);
	height: var(--black-menu-width);
	background: none; 
	border: none;  
}


#blackmenu button i{
	color: rgba(251, 252, 252, 0.7) ; 
	font-size: 30px;
}

#redmenu{
	padding-top: 20px;
	background-color: var(--theme-color); 
	position: absolute;
	height: 100%;
	width: var(--red-menu-width);
	margin-left: 70px;
	box-shadow: var(--menu-box-shadow); 
}


#redmenu h4{
	font-family: Lato, sans-serif;
	color: white;
	text-align: center;
	font-weight: 900;
	margin-top: 0px;
}




/* --------------- MENU BARS TITLE STYLING--------------- */  
#title{
	padding-left: 20px;
	margin-top: 0px;
	margin-left: 270px;
	position: absolute;
	width: 100%;
	height: 50px;
	background-color: white;  
	box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.10); 
}

#title h1{
	font-size: 18px;
	color: #CD6155;
	font-family: 'Lato', sans-serif; 
}


/* ------------------ CANVAS ------------------- */  
canvas{
	/* margin-top: 50px; */
	margin-left: 270px;
	background-color: rgba(242, 243, 244,1); 
	z-index: -2; 
	padding: 20px;
	background-image:
    	linear-gradient(rgba(166, 172, 175,.1) 2px, transparent 2px),
    	linear-gradient(90deg, rgba(166, 172, 175,.1) 2px, transparent 2px),
    	linear-gradient(rgba(166, 172, 175,.1) 1px, transparent 1px),
    	linear-gradient(90deg, rgba(166,172,175,.1) 1px, transparent 1px);
  	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}



